server {
  port = 8080
  sslPort = 8181
}
services {
  calculatorService {
    v1 {
      # An example of how to configure Mongo
      # It is not used by the Calculator Service
      mongo {
        servers = ["localhost"]
        database = "calculator"
      }
    }
  }
}
log {
  console = on
  level = "debug"
}

